# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnpm-store

# Production
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local overrides
.env
.env.local
.env.*.local

# Build output
build
*.tsbuildinfo
